/* tree border */
.tree-border {
    margin-top: 5px;
    border: 1px solid #e5e6e7;
    background: #FFFFFF none;
    border-radius: 4px;
    width: 100%;
}

.pagination-container .el-pagination {
    
}

@media (max-width : 768px) {
    .pagination-container .el-pagination>.el-pagination__jump {
        display: none !important;
    }

    .pagination-container .el-pagination>.el-pagination__sizes {
        display: none !important;
    }
}


.link-type,
.link-type:focus {
  color: #409eff;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}